name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Replace Key
        # 使用單引號包裹指令，並確保 run 正確縮排
        run: sed -i 's/__BREVO_KEY__/${{ secrets.BREVO_API_KEY }}/g' index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          force_orphan: true
